<% use Glayu.EEx %>
<footer class="footer">
    <nav class="navbar">
        <ul class="nav navbar-nav">
            <li><a href="#">&copy; 2017 Company, Inc.</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav>
</footer>